# 제 1 유형

### 1. 
airquality 데이터에 대해서 결측치가 가장 많은 변수를 찾아서 해당 결측치를 0으로 대치하고, 결측치를 제외한 평균과 0으로 대치한 후의 평균과의 차이를 구하시오.

- 결측치 가장 많은 변수 찾기 
- 결측치 0으로 대체 
- a : 결측치 제외하고 평균 구하기
- b : 0으로 대체하고 평균 구하기 
- a - b 구하기

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('airquality.csv')

In [20]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [22]:
df_1 = df.isna().sum().sort_values(ascending=False)
print(df_1)

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [ ]:
# 결측치 채우기
df['Ozone2'] = df['Ozone'].copy()
df['Ozone2'] = df['Ozone2'].fillna(0)
# df['Ozone2'].fillna(0, inplace=True) 는 더이상 pandas 3.0에서 지원 안함

a = df['Ozone'].mean()
b = df['Ozone2'].mean()

print(a-b)

10.188133874239352