In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv', index_col = 0)

In [5]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
answer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê', 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV']

In [14]:
(df.channelId.value_counts().head(10).index)

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object', name='channelId')

In [16]:
answer = list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer)

['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports']

In [21]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

In [29]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
print(answer)

24

In [ ]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer = group.pivot(index='categoryId', columns='trending_date2')
display(answer)

# as_index=False : ÏÉàÎ°úÏö¥ Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÇ¨Ïö©ÌïòÎäîÍ≤å ÏïÑÎãàÎùº Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉú Ïú†ÏßÄ

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [33]:
target2 = df.loc[df.view_count != 0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending = False).iloc[0].title
print(result)

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

In [41]:
ratio = (df['comment_count']/df['view_count']).dropna().sort_values()
result = df.iloc[ratio[ratio != 0].index[0]].title
print(result)

# sort_values() : Ïò§Î¶ÑÏ∞®Ïàú(ÏûëÏùÄ Ïà´Ïûê Î∂ÄÌÑ∞)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [9]:
target = df.loc[(df.likes != 0) & (df.dislikes != 0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]

answer = df.iloc[num].title
print(answer)

[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞

In [10]:
answer = df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

Ïß§Ìà∞

In [11]:
answer = (df[['title', 'channelId']].value_counts() >=20).sum()
print(answer)

40

In [12]:
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [13]:
video['ct'] = pd.to_datetime(video['ct'])
answer = video.videoname.value_counts()
print(answer)

videoname
Í≥µÎ≤î EP1    3492
Í≥µÎ≤î EP2    3204
Í≥µÎ≤î EP3    2568
Í≥µÎ≤î EP4    2280
Í≥µÎ≤î EP5    1562
Í≥µÎ≤î EP6    1274
Í≥µÎ≤î EP7     555
Í≥µÎ≤î EP8     266
Name: count, dtype: int64

In [26]:
answer = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep = 'last')[['viewcnt','videoname','ct']].reset_index(drop=True)
display(answer)

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [29]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname', 'subcnt']].reset_index(drop=True)
print(answer)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

In [34]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
# dt.strftime(format): ÏõêÌïòÎäî ÌòïÏãùÏùò Î¨∏ÏûêÏó¥Î°ú Î≥ÄÌôò

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop = True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname','start_sub']

tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname', 'del']]
display(result)

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

In [39]:
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct','videoname' ]]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date', 'videoname']]
display(answer)

             date videoname
10     2021-10-07    Í≥µÎ≤î EP1
3496   2021-10-09    Í≥µÎ≤î EP2
6696   2021-10-14    Í≥µÎ≤î EP3
9264   2021-10-16    Í≥µÎ≤î EP4
11544  2021-10-21    Í≥µÎ≤î EP5
13661  2021-10-23    Í≥µÎ≤î EP6
13106  2021-10-28    Í≥µÎ≤î EP7
14935  2021-10-30    Í≥µÎ≤î EP8

In [42]:
video['time'] = video.ct.dt.hour
answer = video.loc[video['time'] == 21].sort_values(['videoname', 'ct']).drop_duplicates('videoname').sort_values('viewcnt', ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
display(answer)

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03